.header {
    width: 100%;
    position: absolute;
}
.header__inner {
    margin-top: 46px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: content;
    position: relative;
    z-index: 1;
    width: 100%;
    flex-wrap: wrap;
    
}
/* Mobile */
@media (max-width: 449px) {
    .header__menu {
        display: none;
    }
    .header__logo {
        flex-basis: 70%;
    }
}
/* Mobile */
@media (max-width: 449px) {
    .header__inner {
        margin-top: 46px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-basis: content;
        position: relative;
        z-index: 1;
        width: 100%;
        flex-wrap: nowrap;
    }
}
.header__menu {
    max-width: 40%;
    min-width: 450px;
}
.header__inner__left {
    display: flex;
    flex-direction: row;
    /*flex-basis: 25%;*/
    align-items: center;
    justify-content: space-between;

}

.header__inner__right {
    display: flex;
    flex-basis: 70%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    margin-right: 0;
}
.home__link {
    width: 111px;
    height: 33px;
    position: relative;
    left: -100px;
    color: #ffffff;
    font-family: "Dancing Script";
    font-size: 32px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.8px;
    position: relative;
    right: 55px;
    font-weight: normal;
    text-decoration: none;

}
.header__menu__list {
    display: flex;
    list-style-type: none ;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    font-size: 13px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 1.846;
    text-align: right;
    z-index: 502;
    padding-left: 0px;
}
      
.header__menu__link {

    font-size: 13px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 1.846;
    text-align: right;
    z-index: 502;
    text-decoration: none;
}
.header__basket__name {
    font-size: 13px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 1.846;
    text-align: right;
    z-index: 507;
}
      
.basket__name__link {
font-size: 13px;
font-family: "Montserrat";
color: rgb(255, 255, 255);
line-height: 1.846;
text-align: right;
z-index: 507;
text-decoration: none;
}
.header__basket {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.header__basket__img {
    margin-right: 5px;
}