main {
    display: flex;
    flex-direction: column;
    margin: 0px, 0px, 0px, 0px;
}
.section1 {
    
    position: relative;
    width: 100%;
    /*height: 552px;*/
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    background: #535353;
    font-size: 45px;
    font-family: Montserrat;
    margin-bottom: 0px;
    margin-top: -73px;
    
}
.section1__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
    text-align: center;
}
.section1__h1 {
    font-size: 45px;
    font-family: Montserrat;
    position: relative;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.section1__h2 {
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: normal;
    color: rgb(255, 255, 255);
    line-height: 1.333;
    text-align: center;
    margin-top: 0px;
    z-index: 486;
    margin-bottom: 36px;
    text-transform: uppercase;
}
.section1__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 13px, 40px, 12px, 39px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 172px;
    text-transform: uppercase;
    
}
.section1__button2 {
    font-family: Montserrat;
    font-size: 13px;
    padding: 13px, 40px, 12px, 39px;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 3px;
    background-color: rgba(223, 78, 102, 0);
    width: 169px;
    height: 40px;
    z-index: 491;    
    color: white;
    margin-left: 16px;
    text-transform: uppercase;
}
.section1__button1 {
    font-family: Montserrat;
    font-size: 13px;
    width: 165px;
    height: 35px;
    font-weight: bold;
    border: white;
    border-radius: 3px;
    background-color: rgb(223, 78, 102);
    width: 165px;
    height: 36px;
    z-index: 489; 
    color: azure;    
    text-transform: uppercase; 
}
.section2 {
    width: 100%;
    background: #f9f9f9
}
/* Mobile */
@media (max-width: 449px) {
    .number__price {
        padding: 5px;
    }
}
.section2__inner {
    width: 100%;
    padding-top: 65px;
    padding-bottom: 49px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
.section2__inner__h2 {
text-align: center;
color: #333333;
font-family: "Montserrat";
font-size: 30px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;
}
.h2__TOP {
color: #df4e66;
text-transform: uppercase;    
}
.section2__inner__h3 {
text-align: center;
margin-left: auto;
margin-right: auto;
margin-top: 0px;
margin-bottom: 0px;
color: #565a5c;
font-family: Lato;
font-size: 20px;
font-weight: 300;
line-height: 24px;
}
.section2__inner__allblock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 38px;
}
.section2__inner__block {
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
}
.block1__gray {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 354px;
    height: 232px;
    background-image: url(images/101.jpg);
    background-size: cover;
    z-index: 1;
}

.block2__gray {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 354px;
    height: 232px;
    background-image: url(images/102.jpg);
    background-size: cover;
    z-index: 1;
}

.block3__gray {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 354px;
    height: 232px;
    background-image: url(images/103.jpeg);
    background-size: cover;
    z-index: 1;
    
}

.block4__gray {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 354px;
    height: 232px;
    background-image: url(images/104.jpg);
    background-size: cover;
    z-index: 1;
    margin-top: 20px;
}

.block5__gray {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 354px;
    height: 232px;
    background-image: url(images/105.jpg);
    background-size: cover;
    z-index: 1;
    margin-top: 20px;
}

.block6__gray {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 354px;
    height: 232px;
    background-image: url(images/106.jpg);
    background-size: cover;
    z-index: 1;
    margin-top: 20px;
}

.block7__gray {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 354px;
    height: 232px;
    background-image: url(images/107.jpg);
    background-size: cover;
    z-index: 1;
    margin-top: 20px;
}

.block8__gray {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 354px;
    height: 232px;
    background-image: url(images/108.jpg);
    background-size: cover;
    z-index: 1;
    margin-top: 20px;
}

.block9__gray {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 354px;
    height: 232px;
    background-image: url(images/109.jpg);
    background-size: cover;
    z-index: 1;
    margin-top: 20px;
}
.block__gray__bottom {   
    width: 100%;
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: flex-end;
    z-index: 3;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.94) 0%, rgba(0, 0, 0, 0.66) 43%, rgba(0, 0, 0, 0.4) 65%, rgba(0, 0, 0, 0.13) 86%, rgba(0, 0, 0, 0.01) 100%);
    background-size: auto, 38px;
    padding-bottom: 5px;
}
.block__gray__img {
    flex-basis: 15%;
    position: relative;
    margin-left: 5px;
   
}
.block__gray__name {
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.block__gray__popular {
    position: absolute;
    top: 20px;
    left: -30px;
    transform: rotate(-45deg);
    background: red;
    color: #ffffff;
    font-family: Lato;
    font-weight: 400;
    padding: 5px 30px;
    z-index: 4;
    text-transform: uppercase;
}
.block__gray__toprated {
    position: absolute;
    top: 20px;
    left: -30px;
    transform: rotate(-45deg);
    background: #8dc63f;
    color: #ffffff;
    font-family: Lato;
    font-weight: 400;
    padding: 5px 30px;
    z-index: 4;
}
.block__gray__name {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}
.block__gray__price{
    color: #ffffff;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    line-height: 20.77px;
    text-transform: uppercase;
    margin-right: 9px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.dollar {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 20.77px;
    text-transform: uppercase;
}
.block__white {
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 11px;
    padding-top: 15px;
    padding-bottom: 38px;
}
.block__white__name1 {
    color: #383838;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.77px;
    text-transform: uppercase;
}
.block__white__name2 {
    color: #383838;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.77px;
    text-transform: uppercase;
}
.block__white__icon {
    margin-right: 11px;
}
    
.section2__inner__button {
display: flex;
align-items: center;
color: #ffffff;
font-family: Montserrat;
font-size: 13px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;
padding-left: 37px;
padding-right: 37px;
padding-top: 12px;
padding-bottom: 12px;
background-color: #51bce6;
margin-left: auto;
margin-right: auto;
margin-top: 51px;
border-radius: 5px;
}


.section3__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #e04f67;
    background-image: url(images/discover.png);
    width: 100%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}
.lorem-ipsum {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.35px;
}
.section3__inner__discover {
    color: #ffffff;
    font-family: "Gochi Hand";
    font-size: 32px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.8px;
    text-transform: uppercase;
}
.from34 {
    font-family: "Gochi Hand";
    font-size: 32px;
    font-weight: 400;
    line-height: 24px;
    color: #fff799;
}

.section3__inner__button {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 19px;
    padding-right: 18px;
    background: white;
    color: #e04f67;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 3px;
}
.section4__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;

}
.section4__block1__div {
    max-width: 23%;
    display: flex;
    flex-wrap: wrap;
    background-image: url(images/sec4_block1.jpg);
}
.section4__block2__div {
    max-width: 23%;
    display: flex;
    flex-wrap: wrap;
    background-image: url(images/sec4_block2.jpg);
}
.section4__block3__div {
    max-width: 23%;
    display: flex;
    flex-wrap: wrap;
    background-image: url(images/sec4_block3.jpg);
}
.section4__block4__div {
    max-width: 23%;
    display: flex;
    flex-wrap: wrap;
    background-image: url(images/sec4_block4.jpg);
}
.section4__inner__block {
    margin-left: 0px;
    margin-top: 74px;
    text-align: center;
    max-width: 23%;
}

/* Mobile */
@media (max-width: 449px) {
    .section4__inner__block {
        margin-left: 0px;
        margin-top: 74px;
        text-align: center;
        max-width: 100%;
    }
}

.section4__block1__h {
    color: #e04f67;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.25px;
}

.section4__block__image {
    min-height: 110px;
    max-height: 110px;
    max-width: 165px;
    min-width: 165px;

}
.section4__block1__span {
    color: black;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.25px;
}
.section4__link {
    color: #e04f67;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.25px;
    text-decoration: none;
}
.section4__block1__p {
    color: #555555;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.section4__block__img {
    width: 100%;
    height: 150px;
}

.section4__block2__h {
    color: #e04f67;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.25px;
}
.section4__block2__span {
    color: black;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.25px;
}
.section4__block2__p {
    color: #555555;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}


.section4__block3__h {
    color: #e04f67;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.25px;
}
.section4__block3__span {
    color: black;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.25px;
}
.section4__block3__p {
    color: #555555;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  
}


.section4__block4__h {
    color: #e04f67;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.25px;
}
.section4__block4__span {
    color: black;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.25px;
}
.section4__block4__p {
    color: #555555;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.section5__inner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.section5__inner__h2 {
    margin-top: 66px;
    margin-bottom: 9px;
    text-align: center;
    color: #333333;
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    }
    .h2__GOOD {
    color: #df4e66;
    text-transform: uppercase;    
    }
.section5__inner__h3 {
    color: #565a5c;
    font-family: Lato;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 41px;
}
.section5__wrapper {
    background: #f9f9f9;
}
.section6__wrapper {
    background: #f9f9f9;
}
.section6__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 46px;
    flex-wrap: wrap;
    /*padding-left: 110px;*/
    }
.section6__inner__block {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #ffff;
    padding-top: 36px;
    padding-left: 37px;
    padding-right: 36px;
    padding-bottom: 38px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgb(180, 177, 177);
}

/* Mobile */
@media (max-width: 449px) {
    .section6__inner__block {
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #ffff;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0 10px rgb(180, 177, 177);
        width: 100%;
}
}




.section6__inner__block-h3 {
    color: #df4e66;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
}
.section6__block__span {
    color: #333333;
}
.section6__inner__block-p {
    width: 286px;
    height: 48px;
    color: #999999;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 24px;
    text-align: center;
}
/* Mobile */
@media (max-width: 449px) {
    .section6__inner__block-p {
        color: #999999;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 24px;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
}


.section6__inner__block-button {
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 22px;
    padding-right: 23px;
    border-radius: 3px;
    border-color: #000;
    background: #fff;
    color: #333333;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}




.section7__wrapper {
    background: #f9f9f9;
}
.section7__inner {
    display: flex;
    flex-direction: row;
    border-top: #d8d0d0 1px solid;
    padding-top: 50px;
 
    width: 100%;
    justify-content: center;
}

/* Mobile */
@media (max-width: 449px) {
    .section7__inner {
        flex-wrap: wrap;
    }
}
.section7__inner__left {
    flex-wrap: wrap;
    min-width: 45%;
    margin-right: 40px;
}

    /* Mobile */
@media (max-width: 449px) {
    .section7__inner__left {
        margin-bottom: 10px;
    }
}
.section7__inner__img {
    margin: auto;
    max-width: 100%;
}
.section7__inner__right {
    flex-wrap: wrap;
    min-width: 40%;
    /*max-width: 45%;*/
    margin-left: auto;
    margin-right: auto;
}
.section7__inner__h3 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: #df4e66;
    margin-top: 0px;
}
.section7__inner__span {
    color: #333333;
}
.section7__inner__p {
    color: #555555;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 0px;
}
.section7__inner__li {
    color: #555555;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    display: flex;
    
}
.section7__inner__menu {
    list-style-type: none;
    padding-left: 0px;
    

}
.section7__span{
    color:#fff;
    background: #e04f67;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px
}
.section7__inner__button {
    padding: 13px 22px;
    background: #73d1f6;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px;
    margin-bottom: 106px;
    text-transform: uppercase;

}

 /* Mobile */
@media (max-width: 449px) {
.section7__inner__button {
    width: 100%;
}
}

.footer__wrapper {
    background: #303030;
    background-image: url(images/footer_bg.png);
}
.footer__inner {
    width: 100%;
}
.footer__inner__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 61px;
    border-bottom: gray 1px solid;
    padding-bottom: 54px;
    flex-wrap: wrap;
}
.footer__inner__bottom {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.footer__inner__bottom-img {
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}
.footer__inner__bottom-copyright {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 11.52px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 22px;
    margin-bottom: 60px;
    text-align: center;
}

.tel__number {
    color: #fdf7ac;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-left: 15px;
}    
.footer__inner__tel {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    margin-top: 31px;
}


.mail__adress {
    color: #fdf7ac;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-left: 15px;
}

.footer__inner__mail {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    margin-top: 35px;
}
.footer__button__select1 {
    display: flex;
    flex-direction: column;
    color: #8e8e8e;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    background-color: #434343;
    width: 165px;
    height: 40px;
    border: none;
    margin-top: 11px;
    padding-top: 11px;
    align-items: center;
}
.footer__button__select2 {
    display: flex;
    flex-direction: column;
    color: #8e8e8e;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    background-color: #434343;
    width: 165px;
    height: 40px;
    border: none;
    margin-top: 11px;
    padding-top: 11px;
}
.footer__inner__name {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
}
.footer__menu__item {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}
.footer__menu__link {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
}
.footer__menu {
    list-style-type : none;
    padding: 0px;
}


.select__option {
    display: block;
    color: #8e8e8e;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    background: #434343;
}